<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="roundmelon.jv.a3k">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selfie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".Youtube" />
        <activity android:name=".Try" />
        <activity
            android:name=".Fb"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1798692413786532"
            android:exported="true" />

        <activity android:name=".Badge" />
        <activity android:name=".Deadlock" />
        <activity
            android:name=".Edit"
            android:label="@string/title_activity_edit"
            android:theme="@style/AppTheme" />
        <activity android:name=".Events" />
        <activity android:name=".Web" />
        <activity android:name=".SelfieGallery" />
        <activity android:name=".Terrain"></activity>
    </application>

</manifest>